absl-py==0.11.0
alembic==1.7.3
argon2-cffi==20.1.0
ase==3.21.1
astor==0.8.1
async-generator==1.10
attrs==21.2.0
autopage==0.4.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==1.5.0
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
charset-normalizer==2.0.6
cliff==3.9.0
cmaes==0.8.2
cmd2==2.2.0
colorama==0.4.4
colorlog==6.4.1
cycler==0.10.0
Cython==0.29.21
dataclasses==0.8
decorator==4.4.2
defusedxml==0.7.1
dgl==0.6.1
entrypoints==0.3
gast==0.4.0
gensim==3.4.0
googledrivedownloader==0.4
graphviz==0.8.4
greenlet==1.1.1
grpcio==1.34.1
h5py==2.10.0
html5lib==0.9999999
idna==2.6
importlib-metadata==3.4.0
importlib-resources==5.2.2
ipykernel==5.5.5
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
jedi==0.18.0
Jinja2==3.0.0
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.2.0
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras==2.0.8
kiwisolver==1.3.1
littleutils==0.2.2
llvmlite==0.36.0
lmdb==0.98
Mako==1.1.5
Markdown==3.3.3
MarkupSafe==2.0.1
matplotlib==3.3.4
mistune==0.8.4
mxnet==1.7.0.post2
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
nltk==3.2.4
notebook==6.4.0
numba==0.53.1
numpy==1.19.5
ogb==1.3.1
optuna==2.9.1
outdated==0.2.1
packaging==21.0
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.2
path==15.1.2
pbr==5.6.0
pickleshare==0.7.5
Pillow==8.2.0
prettytable==2.2.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.14.0
pycparser==2.20
Pygments==2.9.0
pymongo==3.5.1
pyparsing==2.4.7
pyperclip==1.8.2
pyreadline==2.1
pyrsistent==0.18.0
python-dateutil==2.8.1
python-louvain==0.15
pytz==2021.1
pywin32==301
pywinpty==1.1.3
PyYAML==5.3.1
pyzmq==22.1.0
qtconsole==5.1.1
QtPy==1.9.0
rdflib==5.0.0
requests==2.26.0
scikit-learn==0.24.2
scipy==1.5.4
Send2Trash==1.7.1
six==1.15.0
smart-open==4.1.2
soupsieve==2.2.1
SQLAlchemy==1.4.23
stevedore==3.4.0
tensorboard==1.6.0
tensorflow==1.6.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
threadpoolctl==2.2.0
torch==1.8.1
torch-geometric==1.7.0
tornado==6.1
tqdm==4.60.0
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.26.6
wcwidth==0.2.5
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
zipp==3.4.0
